/* --------------Portfolipo-------------- */
.portfolio-wrapper {
    background: var(--primary-light-grey);
    padding: 2rem 0;
}
.portfolio-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;
}
.image-box-wrapper {
    display: flex;
    justify-content: center;
}
.portfolio-image {
    width: 15rem;
    height: 10rem;
    border: 1px solid var(--primary-orange);
    padding: 0.5rem;
}

/* --------------Overflow Box-------------- */
.overflow {
    position: absolute;
    opacity: 0;
    background: var(--primary-black);
    width: 15rem;
    height: 10rem;
    top: 0;
    border: 1px solid var(--primary-red);
    cursor: pointer;
}

.portfolio-image-box:hover .overflow {
    opacity: 40%;
    transition: 0.3s ease-in-out;
}

.portfolio-icon {
    position: absolute;
    opacity: 0;
    color: var(--primary-orange);
    font-size: 2rem;
}
.portfolio-image-box:hover .portfolio-icon {
    opacity: 90%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* -------------popup box--------------- */
.portfolio-image-popupbox {
    width: 45rem;
    padding: 0.8rem;
}
.is-active .popupbox-wrapper {
    border-radius: 1rem;
}
.popupbox-wrapper .popupbox-titleBar,
.popupbox-wrapper .popupbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupbox-wrapper .popupbox-titleBar {
    font-size: 1.5rem;
}

.portfolio-link-popupbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio-link-popupbox a {
    padding: 0 1rem;
    font-size: 1.3rem;
    text-decoration: none;
}

.hyper-link {
    cursor: pointer;
    color: var(--primary-black);
    border: 1px solid var(--primary-red);
    border-radius: 8px;
    text-transform: uppercase;
    margin: 0.5rem 1.5rem;
}
.hyper-link:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
}

@media (max-width: 768px) {
    .about-me__container {
        height: 20rem;
    }
    .about-me__container p {
        padding: 2rem 0;
    }
    .portfolio-image-popupbox {
        width: 100%;
    }
}

@media (max-height: 500px) {
    .popupbox-wrapper {
        height: 100%;
    }
    .portfolio-image-popupbox {
        width: 60%;
    }
}
