nav {
    z-index: 2;
}
nav a.nav-link {
    letter-spacing: 0.0375rem;
    cursor: pointer;
}
nav ul li {
    text-transform: uppercase;
}
#navbar__toggler {
    background-color: var(--primary-dark-grey);
    margin-right: 8px;
}

#navbar__toggler:hover {
    background-color: var(--primary-light-grey);
}

#navbar__nav > li > a {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: var(--primary-white);
    padding: 8px 0px;
    border-top: 0.1875rem solid var(--primary-dark);
}

#navbar__nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}

/* might delete the code below. */
#navbar__nav > li > a.active,
#navbar__nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
}

@media (max-width: 993px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #navbar__nav > li > a,
    #navbar__nav > li > a:hover {
        border-top: none;
    }
    #navbar__nav > li > a:hover {
        color: var(--primary-orange);
    }
}
