* {
    font-family: "Roboto Condensed", sans-serif;
}

/* --------------------colors--------------------- */
:root {
    --primary-white: rgb(227, 226, 226);
    --primary-light-grey: #dedcdc;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: #666666;
    --primary-orange: #f9ab00;
    --primary-dark: rgb(52, 58, 64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}

/* --------------------particles--------------------- */
.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media (max-width: 768px) {
    .particles-canvas {
        display: none;
    }
}
